In [84]:
# Importing Library
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [85]:

# Reading the training dataset in a dataframe using Pandas
df = pd.read_csv('progressData/LoanTrain_Clean_2019-08-12-A2e2a.csv')

# Reading the test dataset in a dataframe using Pandas
test =  pd.read_csv('progressData/LoanTest_Clean_2019-08-12-A2w2a.csv')

In [86]:
test.head()

,row_id,loan_type,property_type,loan_purpose,occupancy,loan_amount,preapproval,msa_md,state_code,county_code,...,RaceGroup,log(x+1)_loan_amount,log(x+1)_LTI,log(x+1)_applicant_income,log(x+1)_population,log(x+1)_minority_population_pct,log(x+1)_ffiecmedian_family_income,log(x+1)_number_of_owner-occupied_units,log(x+1)_number_of_1_to_4_family_units,pwr10_tract_to_msa_md_income_pct
0,0,2,1,3,1,115.0,3,101,16,276,...,5,4.753590,0.937682,4.317488,8.753056,4.103238,11.154678,7.536364,7.787797,2.157051e+19
1,1,1,1,1,1,252.0,2,87,20,68,...,5,5.533389,1.210494,4.682131,7.813592,2.202765,11.086962,6.854355,7.102499,1.000000e+20
2,2,1,1,1,1,270.0,1,-1,-1,-1,...,1,5.602119,1.184456,4.787492,8.512382,3.176177,11.120105,7.190676,7.469654,1.000000e+20
3,3,2,1,1,1,179.0,2,376,20,11,...,2,5.192957,1.622982,3.806662,8.475538,3.423481,10.964173,7.263330,7.476472,1.000000e+20
4,4,2,1,1,1,36.0,2,254,48,156,...,6,3.610918,0.753772,3.496508,8.565412,1.809927,11.056162,7.281386,7.646354,1.000000e+20

In [87]:
df.head()

,row_id,loan_type,property_type,loan_purpose,occupancy,loan_amount,preapproval,msa_md,state_code,county_code,...,dummy,log(x+1)_loan_amount,log(x+1)_LTI,log(x+1)_applicant_income,log(x+1)_population,log(x+1)_minority_population_pct,log(x+1)_ffiecmedian_family_income,log(x+1)_number_of_owner-occupied_units,log(x+1)_number_of_1_to_4_family_units,pwr10_tract_to_msa_md_income_pct
0,0,3,1,1,1,70.0,3,18,37,246,...,1.0,4.262680,1.365241,3.218876,8.732950,3.811761,11.011869,6.575076,7.879670,1.174877e+17
1,1,1,1,3,1,178.0,3,369,52,299,...,1.0,5.187386,1.416534,4.060443,8.661294,2.827609,10.911847,7.392032,7.653969,1.000000e+20
2,2,2,1,3,1,163.0,3,16,10,306,...,1.0,5.099866,1.233387,4.219508,8.715224,4.131480,11.123137,6.634633,6.955593,1.000000e+20
3,3,1,1,1,1,155.0,1,305,47,180,...,1.0,5.049856,0.906721,4.663439,8.805075,1.980450,11.270089,7.613819,7.740664,1.000000e+20
4,4,1,1,1,1,305.0,3,24,37,20,...,1.0,5.723585,1.666909,4.276666,8.814776,4.615121,11.052096,7.289611,7.521859,1.408375e+19

In [88]:
# Store total number of observation in training dataset
df_length =len(df)

# Store total number of columns in testing data set
test_col = len(test.columns)
df.dtypes

row_id                                       int64
loan_type                                    int64
property_type                                int64
loan_purpose                                 int64
occupancy                                    int64
loan_amount                                float64
preapproval                                  int64
msa_md                                       int64
state_code                                   int64
county_code                                  int64
applicant_ethnicity                          int64
applicant_race                               int64
applicant_sex                                int64
applicant_income                           float64
population                                 float64
minority_population_pct                    float64
ffiecmedian_family_income                  float64
tract_to_msa_md_income_pct                 float64
number_of_owner-occupied_units             float64
number_of_1_to_4_family_units              float64
lender                                       int64
co_applicant                                  bool
accepted                                     int64
LTI                                        float64
CountyGroup                                float64
LenderGroup                                  int64
RaceGroup                                    int64
dummy                                      float64
log(x+1)_loan_amount                       float64
log(x+1)_LTI                               float64
log(x+1)_applicant_income                  float64
log(x+1)_population                        float64
log(x+1)_minority_population_pct           float64
log(x+1)_ffiecmedian_family_income         float64
log(x+1)_number_of_owner-occupied_units    float64
log(x+1)_number_of_1_to_4_family_units     float64
pwr10_tract_to_msa_md_income_pct           float64
dtype: object

In [89]:
# Summary of numerical variables for training data set

df.describe()

,row_id,loan_type,property_type,loan_purpose,occupancy,loan_amount,preapproval,msa_md,state_code,county_code,...,dummy,log(x+1)_loan_amount,log(x+1)_LTI,log(x+1)_applicant_income,log(x+1)_population,log(x+1)_minority_population_pct,log(x+1)_ffiecmedian_family_income,log(x+1)_number_of_owner-occupied_units,log(x+1)_number_of_1_to_4_family_units,pwr10_tract_to_msa_md_income_pct
count,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,...,500000.0,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,5.000000e+05
mean,249999.500000,1.366276,1.047650,2.066810,1.109590,221.753158,2.764722,181.606972,23.726924,144.542062,...,1.0,4.960084,1.156417,4.327037,8.496704,3.123289,11.122778,7.134668,7.428271,7.225973e+19
std,144337.711634,0.690555,0.231404,0.948371,0.326092,590.641648,0.543061,138.464169,15.982768,100.243612,...,0.0,1.021700,0.517864,0.708876,0.439053,0.887312,0.208039,0.537790,0.511523,3.960796e+19
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,...,1.0,0.693147,0.000808,0.693147,2.708050,0.427879,9.790263,1.609438,0.693147,9.998199e+05
25%,124999.750000,1.000000,1.000000,1.000000,1.000000,93.000000,3.000000,25.000000,6.000000,57.000000,...,1.0,4.543295,0.859720,3.912023,8.244334,2.500698,11.003299,6.871091,7.188413,3.169348e+19
50%,249999.500000,1.000000,1.000000,2.000000,1.000000,162.000000,3.000000,192.000000,26.000000,131.000000,...,1.0,5.093750,1.183770,4.317488,8.512382,3.173920,11.120283,7.191429,7.469654,1.000000e+20
75%,374999.250000,2.000000,1.000000,3.000000,1.000000,266.000000,3.000000,314.000000,37.000000,246.000000,...,1.0,5.587249,1.466337,4.727388,8.760923,3.817405,11.221440,7.470224,7.730175,1.000000e+20
max,499999.000000,4.000000,3.000000,3.000000,3.000000,100878.000000,3.000000,408.000000,52.000000,324.000000,...,1.0,11.521677,7.576097,9.224243,10.521318,4.615121,11.738059,9.079320,9.519588,1.000000e+20

In [90]:
train_set_counts = df[['loan_type','accepted']].groupby('accepted').count()
print(train_set_counts)

          loan_type
accepted
0            249886
1            250114

In [91]:
#Create a flag for Train and Test Data set
df['Type']='Train' 
test['Type']='Test'
fullData = pd.concat([df,test],axis=0, sort=True)

#Look at the available missing values in the dataset
df.isnull().sum()

row_id                                         0
loan_type                                      0
property_type                                  0
loan_purpose                                   0
occupancy                                      0
loan_amount                                    0
preapproval                                    0
msa_md                                         0
state_code                                     0
county_code                                    0
applicant_ethnicity                            0
applicant_race                                 0
applicant_sex                                  0
applicant_income                               0
population                                     0
minority_population_pct                        0
ffiecmedian_family_income                      0
tract_to_msa_md_income_pct                     0
number_of_owner-occupied_units                 0
number_of_1_to_4_family_units                  0
lender                                         0
co_applicant                                   0
accepted                                       0
LTI                                            0
CountyGroup                                20466
LenderGroup                                    0
RaceGroup                                      0
dummy                                          0
log(x+1)_loan_amount                           0
log(x+1)_LTI                                   0
log(x+1)_applicant_income                      0
log(x+1)_population                            0
log(x+1)_minority_population_pct               0
log(x+1)_ffiecmedian_family_income             0
log(x+1)_number_of_owner-occupied_units        0
log(x+1)_number_of_1_to_4_family_units         0
pwr10_tract_to_msa_md_income_pct               0
Type                                           0
dtype: int64

In [92]:
predictors_Logisti=['tract_to_msa_md_income_pct','state_code','pwr10_tract_to_msa_md_income_pct','property_type','preapproval'
                     ,'population','occupancy','number_of_owner-occupied_units','number_of_1_to_4_family_units','msa_md',
                    'minority_population_pct','CountyGroup','LTI','LenderGroup','RaceGroup','Type',
                     'applicant_ethnicity','applicant_income','applicant_race','applicant_sex',
                     'county_code','ffiecmedian_family_income','lender','loan_amount','loan_purpose',
                     'loan_type','log(x+1)_LTI','log(x+1)_applicant_income','log(x+1)_ffiecmedian_family_income',
                     'log(x+1)_loan_amount','log(x+1)_minority_population_pct'
                     ,'log(x+1)_number_of_1_to_4_family_units','log(x+1)_number_of_owner-occupied_units',
                     'log(x+1)_population']

In [114]:
predictors_Logistic=['tract_to_msa_md_income_pct','pwr10_tract_to_msa_md_income_pct','property_type'
                     ,'occupancy','msa_md',
                     'applicant_ethnicity','applicant_race','applicant_sex','lender','loan_amount','loan_purpose',
                     'loan_type','log(x+1)_LTI','log(x+1)_applicant_income','log(x+1)_ffiecmedian_family_income',
                     'log(x+1)_loan_amount','log(x+1)_minority_population_pct'
                     ,'log(x+1)_number_of_1_to_4_family_units','log(x+1)_number_of_owner-occupied_units',
                     'log(x+1)_population']
cat_cols = ['CountyGroup','LenderGroup','Type','loan_type','property_type','occupancy']

# Generic Classification Function

In [146]:
#Import models from scikit learn module:
from sklearn import metrics
from sklearn.model_selection import KFold

#Generic function for making a classification model and accessing performance:

def classification_model(model, data, predictors, outcome):
    #Fit the model:
    model.fit(data[predictors],data[outcome])
  
    #Make predictions on training set:
    predictions = model.predict(data[predictors])
  
    #Print accuracy
    accuracy = metrics.accuracy_score(predictions,data[outcome])
    print ("Accuracy : %s" % "{0:.3%}".format(accuracy))

    #Perform k-fold cross-validation with 5 folds
    kf = KFold(data.shape[0], n_splits = 5,)
    error = []
    for train, test in kf:
        # Filter training data
        train_predictors = (data[predictors].iloc[train,:])
    
        # The target we're using to train the algorithm.
        train_target = data[outcome].iloc[train]
    
        # Training the algorithm using the predictors and target.
        model.fit(train_predictors, train_target)
    
        #Record error from each cross-validation run
        error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
    print ("Cross-Validation Score : %s" % "{0:.3%}".format(np.mean(error)))

    #Fit the model again so that it can be refered outside the function:
    model.fit(data[predictors],data[outcome])

In [147]:
from sklearn.linear_model import LogisticRegression

#create label encoders for categorical features
for var in cat_cols:
    number = LabelEncoder()
    fullData[var] = number.fit_transform(fullData[var].astype('str'))

x_train = df[list(predictors_Logistic)].values
y_train = df["accepted"].values
x_test=test[list(predictors_Logistic)].values

In [148]:
# Create logistic regression object
model = LogisticRegression()

# Train the model using the training sets
model.fit(x_train, y_train)

#Predict Output
predicted= model.predict(x_test)

#Reverse encoding for predicted outcome
predicted = number.inverse_transform(predicted)

#Store it to test dataset
test['accepted']=predicted

outcome_var = 'accepted'

classification_model(model, df,predictors_Logistic,outcome_var)

test_modified.to_csv("Logistic_Prediction.csv",columns=['Loan_ID','accepted'])

/Users/salvi/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/salvi/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Accuracy : 50.023%

TypeError: __init__() got multiple values for argument 'n_splits'